services:
  hass:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    volumes:
      - ./custom_components:/config/custom_components
    restart: unless-stopped
    ports:
      - 8123:8123
    privileged: true
    environment:
      - TZ=Europe/Berlin